.cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
}

.card {
  margin: 3vh;
  height: 60vh;
  width: 30vw;
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* set the background color with opacity */
}

.card-title {
  justify-content: center;
  text-align: center;
  font-size: 1;
}

.body-container {
  margin: 4rem;
  display: flex;
}

.image-container {
  display: flex;
  justify-content: space-between;
}

.card-content {
  display: block;
  height: fit-content;
}

.body-typography {
  height: 10vh;
  display: flex;
  align-content: center;
}

.small-link:visited {
  color: inherit;
}
