.cards-container-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  flex-wrap: wrap;
}

.card-projects {
  margin: 3vh;
  height: 40vh;
  width: 25vw;
}

.card-title {
  justify-content: center;
  text-align: center;
  font-size: 1;
}

.body-container {
  margin: 4rem;
  display: flex;
}

.image-container {
  display: flex;
  justify-content: space-between;
}

.card-content {
  display: block;
  height: fit-content;
}

.body-typography {
  height: 10vh;
  display: flex;
  align-content: center;
}

.small-link:visited {
  color: inherit;
}
