$image: "https://vans-website.s3.amazonaws.com/background1.jpg";

body {
  background-image: url($image);
  background-size: cover;
  background-position: center;
}

.cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
}

.card {
  margin: 3rem;
  height: 60vh;
  width: 30vw;
  display: flex;
}

.card-title {
  justify-content: center;
  text-align: center;
  font-size: 1;
}

.body-container {
  margin: 4rem;
}

.image-container {
  display: flex;
  justify-content: space-between;
}
